# Файлы сборки
[Bb]in/
[Oo]bj/

# Настройки
*.sln

# Файлы редактора
.vs/               # Служебная папка Visual Studio
.vscode/           # Настройки VS Code

# Скрипты для удобства 
run.bat

# Файлы со стилями
wwwroot/